<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>
<body>
<header>
    <article class="new-post">
  {{#if isloggedin}}
  <h1> Hi {{ user.username }}</h1>
<form action="/users/logout" method="GET" class="new-post-form">
        <button type="submit"> Logout </button>
</form>

<a href="/users/userdetails">My profile</a>
<a href="#">Add an item for Bid</a>
  

  {{else}}

<h1> Hi Stranger , Why don't you login or Sign up?</h1>
<div class="btn-group">
  <form action="/users" method="GET" class="new-post-form">
        <button type="submit">Sign Up as a new user?</button>
  </form>

  <form action="/users/userlogin" method="GET" class="new-post-form">
      <button type="submit">Login</button>
  </form>
</div>

  {{!-- <form action="/users/userlogin" method="POST" class="new-post-form">
    <label>
      Username:
      <input type="text" name="username" placeholder="" value="{{userinfo.username}}" class="full-width-input"/>
    </label>
      Password:
      <input type="password" name="password" placeholder="" value="{{userinfo.password}}" class="full-width-input"/>
    </label>

 
    <button type="submit">Login</button>
    <button type="reset">Clear Form</button>
    </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}} --}}
{{/if}}
</article>
<div class="dropdown">
  <button class="dropbtn">Categories</button>
  <div class="dropdown-content">
    <a href="#">Electronics</a>
    <a href="#">Automobile</a>
    <a href="#">Furniture</a>
  </div>
</div>
</header>

    {{{ body }}}
     <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/comment_ajax.js"></script>
</body>
</html>