<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
         <link rel="stylesheet" href="/public/css/site.css" >
     <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/jumbotron/">
</head>
<body>

<header>
 
  {{#if isloggedin}}
  <h2> Hi {{ user.username }}</h2>

<div class="btn-group">

   <a href="/users/userdetails"><button type="submit" class="btn btn-secondary">My Profile</button></a>
   <a href="/users/logout"><button type="submit" class="btn btn-secondary">Logout</button></a>

 
  

  {{else}}

<h2> Hi Stranger , Why don't you login or Sign up?</h2>
<div class="btn-group">
  
      <a href="/users"><button type="submit" class="btn btn-secondary">Sign Up as a new user?</button></a>
 

 
      <a href="/users/userlogin"><button type="submit" class="btn btn-secondary">Login</button></a>



  {{!-- <form action="/users/userlogin" method="POST" class="new-post-form">
    <label>
      Username:
      <input type="text" name="username" placeholder="" value="{{userinfo.username}}" class="full-width-input"/>
    </label>
      Password:
      <input type="password" name="password" placeholder="" value="{{userinfo.password}}" class="full-width-input"/>
    </label>

 
    <button type="submit">Login</button>
    <button type="reset">Clear Form</button>
    </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}} --}}
{{/if}}

<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">  Electronics</a><br>
      <a class="dropdown-item" href="#">  Furniture</a><br>
      <a class="dropdown-item" href="#">  Automobile</a>
    </div>
  </div>
  </div>
</header>

    {{{ body }}}
     <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/comment_ajax.js"></script>
    
</body>
</html>