<article class="new-post">
  <h1>Make a bid!</h1>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
  <form action="/bids" method="POST" class="new-post-form">
    <label>
     Item Name
      <input type="text" name="Item_Name" placeholder="item name" value="{{itemForBid.name}}" class="full-width-input"/>
    </label>
    
    
    <br>
    <legend>Upload Item Image</legend>
       <input name="imagefile[]" type="file" id="takePictureField" accept="image/*" onchange="uploadPhotos('//putsreq.com/jX2tGa272jPmLH4KtR2n')" />
<script type="text/javascript">
window.uploadPhotos = function(url){
  var formData = new FormData();

  
  var fileInputElement = document.getElementById("takePictureField");
  formData.append("userfile", fileInputElement.files[0]);

 
  var content = '<a id="a"><b id="b">hey!</b></a>'; 
  var blob = new Blob([content], { type: "text/xml"});
  formData.append("webmasterfile", blob);

  var xhr = new XMLHttpRequest();
  xhr.open("POST", url);
  xhr.send(formData);
}
</script>

<br>
    <fieldset>
          <legend>Categories</legend>
          <p>
             <label>Select list</label>
             <select id = "categoryList" name="categoryofinterest">
               <option value = "Electronics">Electronics</option>
               <option value = "Furnitures">Furnitures</option>
               <option value = "Automobiles">Automobiles</option>
             </select>
          </p>
       </fieldset>
    <br>
    <label>
      Description
      <input type="text" size=40 name="Description"  placeholder="Item Description"  value="{{itemForBid.description}}" class="full-width-input"/>
    </label>
    <br>
    <label>
      Start Date & time
      <input type="time" name="startDatetime"  placeholder=""  value="{{itemForBid.timeperiod}}" class="full-width-input"/>
    </label>
    <br>
    <label>
      starting_price
      <input type="number" name="starting_Price" placeholder="00.00" value="{{itemForBid.starting_price}}" class="full-width-input"/>
    </label>
    <br>
       
    

 
    <button type="submit">Submit</button>


 
    
  </form>

  {{#if hasErrors}}
  <p>{{error}}</p>
  {{/if}}
</article>
