<article class="user">
  <h1>{{ user.username }}</h1>
  <h2>Email ID</h2>
  <h3>{{ user.emailid}}</h3>
  <h3> Mobile Number</h3>
  <h3>{{ user.phone_num}}</h3>
  <h3> Date of Birth</h3>
  <h3>{{ user.DOB}}</h3>
  <h3> Age</h3>
  <h3>{{ age}}</h3>
  <h3> Category of Interest</h3>
  <h3>{{ user.categoryinterest }}</h3>

  

  {{!-- <form action="/users/{{ user._id }}?_method=PUT" method="POST" class="new-post-form">
        <button type="submit">edit info</button>
  </form> --}}

  {{#if isloggedin}}
  <form action="/users/logout" method="GET" class="new-post-form">
        <button type="submit"> Logout </button>
  </form>
  {{else}}
   <form action="/" method="GET" class="new-post-form">
        <button type="submit"> Login </button>
  </form>

  {{/if}}

  
</article>