<br>
<br>
<main>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, {{ user.username }} !</h1>
      <p><a class="btn btn-primary btn-lg" href="/users/edituser" role="button">edit info </a></p>
     
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->

    <div class="row">
      <div class="col-md-4">
        <h2>Email ID</h2>
        <p>{{ user.emailid}}</p> 
      </div>
      <div class="col-md-4">
        <h2>Mobile Number</h2>
        <p>{{ user.phone_num}}</p>
      
      </div>
      <div class="col-md-4">
        <h2>Date of Birth</h2>
        <p>{{ user.DOB }}</p>
 
      </div>
    </div>

    <hr>

  </div> 
  <div class="container">
    <!-- Example row of columns -->
    <h1> Items Sold</h1>
    <div class="row">
      {{#each user.items_sold}}
      <div class="col-md-4">
            <div class="list-group">
                  <button type="button" class="list-group-item list-group-item-action"><a href="/item/{{this.id}}">{{this.name}}</a></button>
            </div>
        
   
      </div>
      {{/each}}
    </div>

    <hr>

  </div>
</main>

{{!-- <article class="user">
  <h1>{{ user.username }}</h1>
  <h2>Email ID</h2>
  <h3>{{ user.emailid}}</h3>
  <h3> Mobile Number</h3>
  <h3>{{ user.phone_num}}</h3>
  <h3> Date of Birth</h3>
  <h3>{{ user.DOB}}</h3>

  <h3> Category of Interest</h3>
  <h3>{{ user.categoryinterest }}</h3>

  

  <form action="/users/edituser" method="GET" class="new-post-form">
        <button type="submit">edit info</button>
  </form>

  {{#if isloggedin}}
  <form action="/users/logout" method="GET" class="new-post-form">
        <button type="submit"> Logout </button>
  </form>
  {{else}}
   <form action="/" method="GET" class="new-post-form">
        <button type="submit"> Login </button>
  </form>

  {{/if}}

  
</article> --}}