<form action = "/bids/search" method="POST" id="aboutForm" class="main-form">
    <label>
       <input id="searchtf" name="searchInput" class="tf search-tf" type="text">
       <select id="searchDropDown" name="category" class="dropdown">
            <option value ="All">All</option>
            <option value ="Electronics">Electronics</option>
            <option value ="Automobile">Automobile</option>
            <option value ="Furniture">Furniture</option>
        </select>
    </label> 
        <button class="search-btn" type="Submit">Search</button>
</form>

{{#if category}}
<script>
document.getElementById("searchDropDown").value = "{{category}}";
</script>
{{/if}}

<link rel="stylesheet" href="/public/css/search.css">
 <script src = "/socket.io/socket.io.js"></script>
 <script>
        var socket = io();
        socket.on('broadcast',function(data){
        const st = "t_"+data.id;
        const tf = document.getElementById(st);
        if(tf)
            tf.value = data.price;
        if(bidCounters[data.id]){
           var fu = bidCounters[data.id];
           fu(new Date(data.et));
        }
        });
</script>
<script>
    function onBid(id){
        var socket = io();
        var pricey = document.getElementById("t_"+id).value;
        var price = parseFloat(pricey);
        price += 0.1;
        price = price.toFixed(2);
        const bid = {
            id : id,
            price : price,
            user_id : "{{user_id}}"
        }
        socket.emit("bidEvent",bid);
    }
</script>

{{#if errors.length}}
{{#each errors}}
 <div class="error">{{desc}}</div>
{{/each}}
{{/if}}

{{#if activeBidList.length}}
<div class="searchResult">
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
<script> 
    const bidCounters = {} ;
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'})
    });
</script>
    {{#each activeBidList}}
    <div class="bidItem">

        <div>
            <div>posted by: {{username}}</div>
            <img class="bid_img" src="{{show_img}}" 
            alt="../public/images/placeholder.png">
            <div class="text_center">{{item_title}}</div>
        </div>    
        
        <div class="counter-container">
            <div>Start bidding in last 30 Seconds</div>
            <div id="{{_id}}"></div>
            <div class="imp_fields">
            <input class="tf-num" value="{{current_price}}" id="t_{{_id}}" type="number" disabled>

            {{#if ../isloggedin}}
            <button title="Adds 10 cents" class="btn btn-primary bid_button" 
            id="b_{{_id}}" data-toggle="tooltip" data-placement="bottom" onclick=onBid("{{_id}}")>Bid</button>
            {{else}}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Login to Start Bidding">
            <button style="pointer-events: none;" class="btn btn-danger bid_button" 
            id="b_{{_id}}"  disabled>Bid</button>
            </span>
            {{/if}}

            </div>
            <script>


                var countDownDate_{{_id}} = new Date("{{ending_time}}").getTime();

                bidCounters["{{_id}}"] = function addtime_{{_id}}(et){  
                    countDownDate_{{_id}} = et;
                    document.getElementById("{{_id}}").style.backgroundColor = "yellow";
                    setInterval(function(){
                        document.getElementById("{{_id}}").style.backgroundColor = null;
                    },1000);
                };
                var x_{{_id}} = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate_{{_id}} - now;

                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                if(hours < 10) hours = "0"+hours;
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                if(minutes < 10) minutes = "0"+minutes;
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                if(seconds < 10) seconds = "0"+seconds;
    
                document.getElementById("{{_id}}").innerHTML = hours + " : "
                + minutes + " : " + seconds;
    
                if (distance < 0) {
                clearInterval(x_{{_id}});
                var btn = document.getElementById("b_{{_id}}");
                btn.classList.replace("btn-primary","btn-danger");
                btn.disabled = true;
                btn.title = "Expired";
                document.getElementById("{{_id}}").innerHTML = "EXPIRED";
                }
                }, 1000); 
             </script>
        </div>
    
    </div>
    {{/each}}
    </div>
{{/if}}
{{^activeBidList}}
    <main>
        <p class="not-found">We're sorry, but no results were found for .</p>
    </main>
{{/activeBidList}}

